.desktopChild {
  width: 502px;
  height: 425px;
  background-color: var(--light-text-color);
  display: none;
  max-width: 100%;
}
.desktopChild,
.h3,
.paragraph {
  position: relative;
}
.h3 {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.1px;
  line-height: 32px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.paragraph {
  font-size: var(--h6-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 500;
  color: var(--second-text-color);
}
.colMd6 {
  width: 509px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.btnText {
  text-decoration: none;
  position: relative;
  font-size: var(--h6-size);
  letter-spacing: 0.2px;
  line-height: 22px;
  font-weight: 700;
  font-family: var(--h6);
  color: var(--light-text-color);
  text-align: center;
  display: inline-block;
  min-width: 83px;
}
.buttonbtnprimaryColor {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-19xl);
  background-color: var(--primary-color);
  border-radius: var(--br-8xs);
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
}
.buttonbtnprimaryColor:hover {
  background-color: var(--color-steelblue);
}
.buttonbtnprimaryColor,
.colMd3,
.row {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.colMd3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-19xl);
}
.row {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.container,
.desktop,
.footer2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container {
  width: 1050px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: calc(50% - 525px);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--h3-size);
  color: var(--dark-background-color);
  font-family: var(--h6);
}
.desktop,
.footer2 {
  position: relative;
}
.footer2 {
  align-self: stretch;
  background-color: var(--color-gray-200);
  overflow: hidden;
  justify-content: flex-end;
  padding: var(--padding-102xl) 0 46px;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.desktop {
  width: 100%;
  background-color: var(--light-text-color);
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .row {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .row {
    flex-wrap: wrap;
  }
  .footer2 {
    gap: var(--gap-xl);
    padding-top: 79px;
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .h3 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
}
