.authentication,
.blankLine {
  margin: 0;
}
.logInTo {
  margin: 0;
  font-size: var(--h4-size);
}
.authenticationLogInContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 25px;
  z-index: 1;
}
.email {
  width: 218px;
  border: 0;
  outline: 0;
  font-family: var(--h6);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 28px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 28px;
  color: var(--second-text-color);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.inputformControl,
.inputformControlWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.inputformControl {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-100);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-2xl);
  z-index: 1;
}
.inputformControlWrapper {
  width: 424px;
  justify-content: flex-end;
  padding: 0 var(--padding-45xl);
  box-sizing: border-box;
  max-width: 100%;
}
.authenticationLogInToYourParent,
.frameWrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.authenticationLogInToYourParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-27xl);
}
.frameWrapper {
  width: 522px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-9xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--h3-size);
  color: var(--color-black);
  font-family: var(--font-montaga);
}
@media screen and (max-width: 625px) {
  .authenticationLogInToYourParent {
    gap: var(--gap-4xl);
  }
}
@media screen and (max-width: 450px) {
  .authenticationLogInContainer {
    font-size: var(--h5-size);
    line-height: 20px;
  }
  .inputformControl {
    gap: var(--gap-4xl);
  }
  .inputformControlWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
